<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700001924772-srhegtn4rhtsmd7oerkrosenpqsfpt17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700001924772-srhegtn4rhtsmd7oerkrosenpqsfpt17</string>
	<key>API_KEY</key>
	<string>AIzaSyC2OjleRy90hM7A6SZLAPDA8TW9jneZ-IM</string>
	<key>GCM_SENDER_ID</key>
	<string>700001924772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.7teen</string>
	<key>PROJECT_ID</key>
	<string>seventeen-b2094</string>
	<key>STORAGE_BUCKET</key>
	<string>seventeen-b2094.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700001924772:ios:305d6d52bef7ed309a9831</string>
</dict>
</plist>