<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sevenTeen.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B9F43404F42C7DA276083FFD391E44CB863D0B33</string>
				<key>dateExpires</key>
				<string>28/09/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9F43404F42C7DA276083FFD391E44CB863D0B33</string>
						<key>dateExpires</key>
						<string>28/09/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CometChatProCalls.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9TR47XK6L</string>
						<key>name</key>
						<string>Filip Beuls</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9F43404F42C7DA276083FFD391E44CB863D0B33</string>
						<key>dateExpires</key>
						<string>28/09/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9TR47XK6L</string>
						<key>name</key>
						<string>Filip Beuls</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B9F43404F42C7DA276083FFD391E44CB863D0B33</string>
						<key>dateExpires</key>
						<string>28/09/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H9TR47XK6L</string>
						<key>name</key>
						<string>Filip Beuls</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H9TR47XK6L.com.7teen</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>H9TR47XK6L</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>sevenTeen.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c177d114-8d97-49c3-9364-e863e2105efe</string>
				<key>dateExpires</key>
				<string>28/09/23</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.7teen</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H9TR47XK6L</string>
				<key>name</key>
				<string>Filip Beuls</string>
			</dict>
			<key>versionNumber</key>
			<string>1.9</string>
		</dict>
	</array>
</dict>
</plist>
